<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>

    <div id="Aaa">
        <ul>
            <li>
                <p>OWO 1</p>
            </li>
            <li>
                <p>OWO 2</p>
            </li>
            <li>
                <p>OWO 3</p>
            </li>
            <li>
                <p>OWO 4</p>
            </li>
            <li>
                <p>OWO 5</p>
            </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque vero, numquam quos doloribus mollitia repellendus debitis corporis aspernatur asperiores animi, aperiam fugiat voluptas quae ipsam perspiciatis hic. Est, tempora. Enim.</li>
        </ul>
    </div>

</body>

</html>