<!DOCTYPE html>
<html lang="pl">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/styles/public/privacy-policy.css">
        <title>Polityka Prywatności</title>
</head>

<body>
    <header>
        <%- include('../partials/public/header.ejs');%>
    </header>

    <main class="privacy-policy-page">
        <section class="policy">
            <h1>Polityka Prywatności</h1>
            <p>Data aktualizacji: 5 stycznia 2025</p>

            <h2>1. Wprowadzenie</h2>
            <p>
                Twoja prywatność jest dla nas ważna. Poniżej znajdziesz informacje o tym, jakie dane zbieramy, dlaczego to robimy i jak je chronimy.
            </p>

            <h2>2. Jakie dane zbieramy?</h2>
            <p>
                Podczas korzystania z naszej strony możemy zbierać następujące informacje:
                <ul>
                    <li>Imię i nazwisko</li>
                    <li>Adres e-mail</li>
                    <li>Numer telefonu</li>
                    <li>Adres IP</li>
                    <li>Pliki cookie</li>
                </ul>
            </p>

            <h2>3. W jaki sposób wykorzystujemy dane?</h2>
            <p>Dane te są wykorzystywane wyłącznie do poprawy jakości usług oraz komunikacji z użytkownikami.</p>

            <h2>4. Twoje prawa</h2>
            <p>Masz prawo do dostępu do swoich danych, ich modyfikacji, usunięcia i wniesienia skargi do odpowiednich organów.</p>
        </section>
    </main>

    <footer>
        <%- include('../partials/public/footer.ejs');%>
    </footer>
</body>

</html>