<!DOCTYPE html>
<html lang="pl">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/styles/public/privacy-policy.css">
        <title>Polityka Prywatności</title>
</head>

<body>
    <header>
        <%- include('../partials/public/header.ejs');%>
    </header>

    <main class="privacy-policy-page">
        <section class="policy">
            <h1>Polityka Prywatności</h1>
            <p>Data aktualizacji: 5 stycznia 2025</p>

            <h2>1. Wprowadzenie</h2>
            <p>
                Twoja prywatność jest dla nas ważna. Poniżej znajdziesz informacje o tym, jakie dane zbieramy, dlaczego to robimy i jak je chronimy.
            </p>

            <h2>2. Jakie dane zbieramy?</h2>
            <p>
                Podczas korzystania z naszej strony możemy zbierać następujące informacje:
                <ul>
                    <li>Imię i nazwisko</li>
                    <li>Adres e-mail</li>
                    <li>Numer telefonu</li>
                    <li>Adres IP</li>
                    <li>Pliki cookie</li>
                </ul>
            </p>

            <h2>3. W jaki sposób wykorzystujemy dane?</h2>
            <p>Dane te są wykorzystywane wyłącznie do poprawy jakości usług oraz komunikacji z użytkownikami.</p>

            <h2>4. Twoje prawa</h2>
            <p>Masz prawo do dostępu do swoich danych, ich modyfikacji, usunięcia i wniesienia skargi do odpowiednich organów.</p>

            <h2>5. Jak chronimy Twoje dane?</h2>
            <p>
                Stosujemy odpowiednie środki techniczne i organizacyjne, aby chronić Twoje dane przed nieautoryzowanym dostępem, utratą, modyfikacją lub zniszczeniem. Twoje dane są przechowywane na zabezpieczonych serwerach, a dostęp do nich mają tylko upoważnione osoby.
            </p>

            <h2>6. Udostępnianie danych</h2>
            <p>
                Twoje dane mogą być udostępniane stronom trzecim tylko w przypadkach przewidzianych przez prawo lub za Twoją zgodą. Nie sprzedajemy, nie wynajmujemy ani nie wymieniamy Twoich danych osobowych z innymi podmiotami.
            </p>

            <h2>7. Pliki cookie</h2>
            <p>
                Nasza strona używa plików cookie, aby poprawić jakość usług i ułatwić korzystanie z niej. Pliki cookie to małe pliki tekstowe przechowywane na Twoim urządzeniu. Możesz zarządzać plikami cookie za pomocą ustawień przeglądarki.
            </p>

            <h2>8. Zmiany w polityce prywatności</h2>
            <p>
                Zastrzegamy sobie prawo do wprowadzania zmian w niniejszej polityce prywatności. Wszelkie zmiany będą publikowane na tej stronie, a data aktualizacji będzie odpowiednio zmieniona.
            </p>

            <h2>9. Kontakt</h2>
            <p>
                Jeśli masz jakiekolwiek pytania dotyczące naszej polityki prywatności, skontaktuj się z nami pod adresem e-mail: kontakt@przykład.pl
            </p>
        </section>
    </main>

    <footer>
        <%- include('../partials/public/footer.ejs');%>
    </footer>
</body>

</html>