/* Styl sekcji hero */

.about-hero {
    background-color: #007BFF;
    color: #fff;
}

.about-hero h1 {
    font-size: 2.5rem;
}

.about-hero p {
    font-size: 1.2rem;
}


/* Styl sekcji misji */

.about-mission {
    background-color: #f8f9fa;
    color: #333;
}

.about-mission h2 {
    font-size: 2rem;
}

.about-mission p {
    font-size: 1.1rem;
    line-height: 1.6;
}


/* Styl sekcji zespołu */

.about-team h2 {
    font-size: 2rem;
    color: #333;
}

.about-team img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #007BFF;
}

.about-team h4 {
    margin-top: 15px;
    color: #007BFF;
    font-weight: bold;
}

.about-team p {
    color: #555;
}