/* Header */

header {
    background-color: #ffffff;
    border-bottom: 1px solid #e9ecef;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    padding: 0.8rem 1.5rem;
    /* Dodanie paddingu w poziomie i pionie */
}

.navbar-brand {
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-item {
    margin-left: 1rem;
    /* Odstępy między linkami */
}

.nav-link {
    font-size: 1rem;
    /* Nieco większa czcionka */
    padding: 0.5rem 1rem;
    /* Więcej miejsca wokół tekstu */
}

.auth-buttons .btn {
    padding: 0.6rem 1.5rem;
    /* Większy padding dla bardziej wyrazistych przycisków */
    font-size: 1rem;
    /* Spójny rozmiar tekstu */
    border-radius: 30px;
    /* Zaokrąglone rogi dla bardziej nowoczesnego wyglądu */
    transition: all 0.3s ease;
    /* Płynna animacja */
}

.auth-buttons .btn-outline-primary {
    color: #007BFF;
    border-color: #007BFF;
}

.auth-buttons .btn-outline-primary:hover {
    background-color: #007BFF;
    color: #fff;
}

.auth-buttons .btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
    color: #fff;
}

.auth-buttons .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.collapse {
    justify-content: space-between;
    /* Wyrównanie elementów */
    align-items: center;
}

.d-flex.space-between .btn+.btn {
    margin-left: 10px;
    /* Dodanie odstępu między przyciskami */
}