<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <header>
        <%- include('partials/header'); %>
    </header>

    <div id="Aaa">
        <ul>
            <li>
                <p>OWO 1</p>
            </li>
            <li>
                <p>OWO 2</p>
            </li>
            <li>
                <p>OWO 3</p>
            </li>
            <li>
                <p>OWO 4</p>
            </li>
            <li>
                <p>OWO 5</p>
            </li>
        </ul>
    </div>

</body>

</html>