/* Stylizacja strony szczegółów pokoju */

.room-details-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Stylizacja tytułu pokoju */

.room-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}


/* Stylizacja kontenera siatki */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Dwie kolumny */
    gap: 20px;
}


/* Stylizacja kontenera karuzeli */

.carousel-container {
    grid-column: 1 / span 1;
    /* Zajmuje jedno pole w pierwszym rzędzie */
}


/* Stylizacja kontenerów podsumowania rezerwacji i szczegółów */

.reservation-summary-container,
.details-container {
    background-color: #f9f9f9;
    border: 1px solid #e9ecef;
    padding: 20px;
    border-radius: 8px;
}


/* Stylizacja kontenera podsumowania rezerwacji */

.reservation-summary-container {
    grid-column: 2 / 2;
    grid-row: 1;
}


/* Stylizacja kontenera szczegółów */

.details-container {
    grid-column: 1 / 3;
    grid-row: 2;
}


/* Stylizacja obrazków w karuzeli */

.carousel-container img {
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}